<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog-python</title>
    </head>
    <body>
        <div>
            <h1><a href="">Python-A simple way to do hard things</a></h1>
        </div>

        <div>
            <p>published: 12/27/2016</p>
            <h2><a href="">My first post</a></h2>
            <p>here goes the content of first post</p>
        </div>

        <div>
            <p>published: 12/27/2016</p>
            <h2><a href="">My second post</a></h2>
            <p>Here goes the content of second post</p>
        </div>
    </body>
</html>


